
.display_style {
	background: rgba(1, 255, 1, 1);
	color:white;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
}
.label_style {
	background: rgba(40, 40, 40, 40);
	color:white;
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
}
.vbox_style {
    background: rgba(40, 40, 40, 40);
    color:white;
    border:black;
    font-family: Times New Roman;
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 7px 7px 7px;
}
.menu_style {
	background: rgba(40, 40, 40, 40);
	color:white;
    border:black;
    font-family: Times New Roman;
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 7px 7px 7px;
}
.submenu_style {
    background: rgba(40, 40, 40, 40);
    color:white;
    border:black;
    font-family: Times New Roman;
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
}
.button_style {
	background: rgba(60, 60, 60, 60);
	color:white;
    border:black;
    font-family: Times New Roman;
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
}
.button_style:active{
	background-color: rgba(255, 255, 255, 255);
	color:black;
    font-family: Times New Roman;
}

.window_style {
	background: rgba(100, 100, 100, 100);
    font-family: Times New Roman;
}

.operators_style {

    background: rgba(60, 60, 60, 60);
    color:white;
    border:black;
    font-family: Times New Roman;
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
}